# Dependencies
node_modules/

# Environment variables
.env

# Logs
*.log

# Build files
dist/
build/

# Coverage
coverage/

# Temporary files
tmp/
.cache/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Deployment
.vercel/